/* Probando archivo de estilos independiente, me gusta porque se ve más limpio =) */


* { /* un truco que me encontré para que no se vea el header separado del borde de la ventana */
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: gainsboro;
     /*intenté poner una imagen de fondo pero no lo logré T_T */
    background-image: url(assets/imgs/fondoFrutas.jpg);
    
}

header {
    height: 80px;
    text-align-last: center;
    background-color: darkorange;
    font-family: 'Cinzel', serif;
    color: aliceblue;
    text-underline-position: below;
    font-size: 20px;
    padding-top: 20px;
    
}

div {
    margin: 20px;
    padding: 10px;
    height: calc(100% - 140px);
    background-color: rgba(255, 255, 255, 0.51);
    border-radius: 15px;
    font-family: 'Work Sans', sans-serif;
    color: #848484;
    align-content: center;
}

section {
    padding: 10px;
}

p {
    max-width: 600px;
}

img {
    width: 100%;
    max-width: 600px;
}

.lista {
    height: 40%;
}

ol {
    margin-left: 20px;
}

button {
    margin: 10px;
    background-color: orange;
    font-family: 'Work Sans', sans-serif;
    color: whitesmoke;
    height: 30px;
    width: 100px;
    border-radius: 7px;  
}