/* Probando archivo de estilos independiente, me gusta porque se ve más limpio =) */


* { /* un truco que me encontré para que no se vea el header separado del borde de la ventana */
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: gainsboro;
    background-size: cover;
}

header {
    height: 80px;
    text-align-last: center;
    background-color: #ff0045;
    font-family: 'Cinzel', serif;
    color: aliceblue;
    text-underline-position: below;
    font-size: 20px;
    padding-top: 30px;
    
}

div {
    margin: 20px;
    padding: 10px;
    height: calc(100% - 140px);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    font-family: 'Work Sans', sans-serif;
    color: #646464;
    
}

section {
    padding: 10px;
}

p {
    max-width: 600px;
}

img {
    width: 100%;
    max-width: 500px;
    
}

.lista {
    height: 35%;
}

ol {
    margin-left: 20px;
}

span {
    position: absolute;
    height: auto;
    padding: 5px;
    margin-left: 26%;
    align-content: center;
   
}

input {
    
    width: 220px
}

button {
    margin: 5px;
    background-color: #be001d;
    font-family: 'Work Sans', sans-serif;
    color: whitesmoke;
    height: 25px;
    width: 100px;
    border-radius: 7px;  
}